<div class="row">
  <div class="col-2">
    <section class="sidebar">

    </section>
  </div>
  <div class="col-8">

    <section class="main w-100 d-flex flex-column p-2">
      <!-- Bootstrap Icons -->
      <div class="container  d-flex flex-column align-items-center">
        <div class="post-box mt-2" style="width: 98.2%;">
          <div class="input-group-custom">
            <img [src]="pfpUrl" alt="User Avatar">
            <input type="text" class="input-custom " data-bs-toggle="modal" data-bs-target="#exampleModal"
              placeholder="What do you want to share?">
          </div>
          <div class="actionbtn justify-content-center d-flex mt-2">
            <button type="button" class="btn btn-outline-secondary rounded-pill w-100" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Add New Post
            </button>

            <!-- Modal -->
            <form #form="ngForm">
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Post</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                      <textarea class="form-control" rows="5" id="post" #TextArea="ngModel" placeholder="Type Here..."
                        name="text" [(ngModel)]="postData.data" required></textarea>
                      <div class="text-danger">@if (TextArea.errors?.['required']) {
                        <span>* required</span>
                        }
                      </div>
                      <label for="category" class="mt-1">Select Category</label>
                      <select class="form-select mt-2" aria-label="Default select example" name="category"
                        [(ngModel)]="postData.cat_Id" required>
                        <!-- <div class="text-danger">
        @if (Category.errors?.['required']) {
            <span>* required</span>
        }
      </div> -->
                        @for(category of categoryList; track $index){
                        <option [value]="category.cat_Id">{{category.cat_Name}}</option>
                        }
                      </select>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                      <div> <i class="imageup fa-regular fa-image fs-4 text-secondary"></i>

                      </div>

                      <div><button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="form.invalid"
                          (click)="createPost()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>



      <div class="post-list" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
        (scrolled)="onScroll()">
        <div *ngFor="let post of posts">

          <ul class="timeline">
            <li>
              <div class="timeline-time">
                <span class="date">{{post.dateCreated | date:'shortDate'}}</span>
                <span class="time">{{post.dateCreated | date:'shortTime'}}</span>
              </div>
              <!-- end timeline-time -->
              <!-- begin timeline-icon -->
              <div class="timeline-icon ">
                <a class="bg-primary-subtle" href="javascript:;">&nbsp;</a>
              </div>
              <!-- end timeline-icon -->
              <!-- begin timeline-body -->
              <div class="timeline-body ">
                <div class="timeline-header">
                  <span ><app-user-image [username]="post.username"></app-user-image></span>
                  <div class="justify-content-between d-flex">
                    <span class="username"><a href="javascript:;" (click)="getUserDetailsByUserId(post.user_Id)">{{post.name}}  </a> <small></small></span>
                    
                    <!-- <span style="font-size: 8pt; color: gray;">{{post.dateCreated | date:'shortTime'}} |
                      {{post.dateCreated | date:'shortDate'}}</span> -->

                      @if(user.user_Id==post.user_Id){
                    <div class="dropdown ms-auto">

                      <i class="bi bi-list" data-bs-toggle="dropdown" aria-expanded="false"></i>

                      <ul class="dropdown-menu">
                        <li>
                          <span class="dropdown-item" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#updatepostModal'+ post.post_Id"
                            (click)="getPostByPostId(post.post_Id)">
                            <i class="fas fa-pen mx-2"></i> Update
                          </span>
                        </li>
                        <li>
                          <span class="dropdown-item text-danger" (click)="deletePost(post.post_Id)">
                            <i class="fas fa-trash mx-2 text-danger"></i> Delete
                          </span>
                        </li>
                      </ul>
                    </div>}
                    <form #form="ngForm">
                      <div class="modal fade" [id]="'updatepostModal' + post.post_Id" tabindex="-1"
                        [attr.aria-labelledby]="'updatepostModalLabel' + post.post_Id" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" [id]="'updatepostModalLabel'+post.post_Id">Update Post</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>

                            <div class="modal-body">

                              <textarea class="form-control" rows="5" id="post" name="text"
                                [(ngModel)]="updatePostData.data" required></textarea>
                              <div class="text-danger">@if (TextArea.errors?.['required']) {
                                <span>* required</span>
                                }
                              </div>
                              <label for="category" class="mt-1">Select Category</label>
                              <select class="form-select mt-2" aria-label="Default select example" name="category"
                                [(ngModel)]="updatePostData.cat_Id" required>

                                @for(category of categoryList; track $index){
                                <option [value]="category.cat_Id">{{category.cat_Name}}</option>
                                }
                              </select>
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                              <div> <i class="imageup fa-regular fa-image fs-4 text-secondary"></i>

                              </div>

                              <div><button type="button" class="btn btn-secondary mx-1"
                                  data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                  [disabled]="form.invalid" (click)="postUpdate(post.post_Id)">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="timeline-content">
                  <span class="catogaryName bg-primary-subtle rounded p-1 text-white"> {{post.cat_Name}}</span>

                  <p class="mt-2">
                    {{post.data}}

                  </p>
                </div>
                <div class="timeline-likes">
                  <!-- <div class="stats-right">
                    <span class="stats-text">{{getPostComment.length}}</span>
                  </div> -->
                  <!-- <div class="stats">
                    <span class="fa-stack fa-fw stats-icon">
                      <i class="fa fa-circle fa-stack-2x text-danger"></i>
                      <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                    </span>
                    <span class="fa-stack fa-fw stats-icon">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="stats-total">4.3k</span>
                  </div> -->
                </div>

                <div class="timeline-footer">
                  <app-react [post_Id]="post.post_Id"  ></app-react>
                  <a href="javascript:;" class="m-r-15 text-inverse-lighter mx-2" data-bs-toggle="collapse"
                    [href]="'#collapseComment' + post.post_Id" role="button" aria-expanded="false"
                    [attr.aria-controls]="'collapseComment'+ post.post_Id" (click)="getComment(post.post_Id)"><i
                      class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                </div>

                <div class="timeline-comment-box">

                  <div class="userimage"><img [src]="pfpUrl"></div>
                  <div class="input">
                    <form action="">
                      <div class="input-group">
                        <input type="text" class="form-control rounded-corner" placeholder="Write a comment..."
                          [(ngModel)]="addCmnt[post.post_Id].comment_text" [name]="'comment_text' + post.post_Id">
                        <span class="input-group-btn p-l-10">
                          <button class="btn btn-outline-secondary f-s-12 rounded-corner" type="button"
                            (click)="createComment(post.post_Id)">Comment</button>
                        </span>
                      </div>
                    </form>
                  </div>


                </div>
              </div>

              <div class="collapse" [id]="'collapseComment'+post.post_Id">

                <div class="container w-75">
                  <app-comment [post_Id]="post.post_Id " [getPostComment]="getPostComment[post.post_Id]"></app-comment>
                  <!-- <ng-template #elseTemplate>
                              <div class="text-danger"> No Comments Added!</div>
                      </ng-template> -->
                </div>

              </div>
              <!-- end timeline-body -->
            </li>
          </ul>
        </div>

      </div>
    </section>
  </div>
  <div class="col-2"></div>
</div>